* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

/*
::selection {
    background-color: white;
    color: black;
}
*/

.artigo {
    text-align: center;
    width: 100%;
    padding: 30px;
    background-color: rgb(210,210,210);
    user-select: none;
}

.artigo2 {
    background-color: #ccc;
}

textarea {
    display: block;
    margin: 20px auto 10px auto;
    height: 100px;
    width: 300px;
    resize: none;
}

select {
    display: block;
    margin: 10px auto;
}

.box {
    width: 100px;
    height: 100px;
    background: #ccc;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

form .input-wraper {
    float: left;
    padding: 10px;
    margin-top: 20px;
    
}

input {
    margin-top: 10px;
    width: 100%;
    padding: 20px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.box2 {
    width: 400px;
    height: 200px;
    background: #ccc;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
}

.form-result {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}