* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

form {
    background-color: #ccc;
    padding: 30px 0;
    text-align: center;
}



input[type=file]{
    display: none;
}

label {
    display: block;
    margin: 40px auto;
    cursor: pointer;
    font-size: 17px;
    width: 220px;
    height: 40px;
    color: white;
    background-color: #ccc;
    text-align: center;
    line-height: 40px;
}



form {
    background-color: #ccc;
    padding: 30px 0;
    text-align: center;
}

form select {
    width: 220px;
    height: 40px;
    border: 0;
    padding-left: 10px;
    background-image: url(paper.png);
    background-size: 45px 40px;
    background-repeat: no-repeat;
    background-position: center;
    appearance: none;
    -webkit-appearence: none;  /*Google e Safari*/
    -moz-appearance: none; /*Firefox*/ 
}

select::-ms-expand {  /*Explorer*/
    display: none;
}


input[type=checkbox] {
    display: none;
}

label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: red
}

input[type=checkbox]:checked + label{
    width: 30px;
    height: 30px;
    background-color: green;
}
