* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

form {
    width: 96%;
    max-width: 600%;
    margin: 30px auto;
    text-align: center;
}

form fieldset {
    padding: 20px 40px;
    border: 2px dashed black;
}

form legend {
    font-size: 17px;
    color: blue;
}

form input[type=text] {
    font-family: tahoma;
    margin-top: 30px;
    width: 80%;
    display: inline-block;
    padding: 10px 13px;
    border: 1px solid #ccc;
}

form input[type=text]:focus, form select:focus, form textarea:focus {
    outline: 0;
}

form select {
    font-family: tahoma;
    color: rgb(100, 100, 100);
    width: calc(80% + 26px);
    margin-top: 30px;
    display: inline-block;
    padding: 10px 13px;
    border: 1px solid #ccc;
}

form select option[disabled] {
    color: red
}

form select option:nth-of-type(2) {
    color: blue;
}

form h2 {
    margin-top: 20px;
    color: grey;
}

.input {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
}

.input span {
    margin-left: 13px;
    font-size: 16px;
    color: black;
}

form textarea {
    border: 1px solid #ccc;
    margin-top: 30px;
    width: 80%;
    height: 140px;
    padding: 10px 13px;
    border: 1px solid #ccc;
    resize: none;
    font-family: Tahoma
}

form input[type=submit] {
    margin-top: 30px;
    border: 0;
    width: 140px;
    height: 40px;
    border: 2px solid grey;
    font-size: 16px;
    color: white;
    background-color: grey;
    cursor: pointer;
}