html {
    height: 100%;
    font-family: 'Montserrat';
    display: grid;
    align-items: center;
    justify-items: center;
}

body {
    background-color: #FCFCFC;
}

body.dark {
    background-color: #333333;
}

body.dark > h1 {
    color: orange
}

.container {
    background-color: #EBEBEB;
    margin: 5em;
    padding: 5em;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "title switch"
        "content content";
}

h1 {
    margin: 0;
    color: #0077FF;
    
}

p {
    color: #333333;
    grid-area: content;
    font-size: 1.1em;
    line-height: 1.8em;
    margin-top: 2em;
}

input{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
    transition: 0.5s;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #0077FF;
    transition: 0.5s;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}