* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    background: #f0f2f5;
    z-index: 0;
}

.entrar {
    margin: 0 50%;
    text-align: center;
    background: blue;
    z-index: 1;
}

input[type=email], input[type=password] {
    font-size: 17px;
    width: 364px;
}
input[type=email], input[type=password] {
    display: inline-block;
    font-size: 14px;
    margin: auto;
    padding: 6px 0;
    width: 302px;
}

